<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.geoslopefix.mapper.DataSlopeGeologyMapper">
    <resultMap id="BaseResultMap" type="com.kuang.geoslopefix.entity.DataSlopeGeology">
        <id column="id" property="id"/>
        <result column="slope_unit_id" property="slopeUnitId"/>
        <result column="slope_type" property="slopeType"/>
        <result column="water_river_valley" property="waterRiverValley"/>
        <result column="top_elevation" property="topElevation"/>
        <result column="bottom_elevation" property="bottomElevation"/>
        <result column="slope_length" property="slopeLength"/>
        <result column="slope_shape" property="slopeShape"/>
    </resultMap>

    <select id="selectAllAbnormalSlopeType" resultMap="BaseResultMap">
        SELECT id,slope_unit_id,slope_type,water_river_valley,top_elevation,bottom_elevation,slope_length,slope_shape
        FROM data_slope_geology_copy1
    </select>

    <update id="updateSlopeType">
        UPDATE data_slope_geology_copy1
        SET slope_type = #{slopeType}
        WHERE id = #{id}
    </update>
</mapper>